<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiswamemp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BDMDeals.BDMDoneDeals"
            android:parentActivityName=".BDMHomePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BDEAssignedBDM.MeetingDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BDEAssignedBDM.BDEAssignedBDMActivity"
            android:parentActivityName=".BDEHomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profiles.BDMProfileActivity"
            android:parentActivityName=".BDMHomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profiles.BDEProfileActivity"
            android:parentActivityName=".BDEHomePage"
            android:screenOrientation="portrait" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".BDMMeetingDetailsActivity"
            android:parentActivityName=".BDMHomePage"
            android:screenOrientation="portrait" />
        <activity android:name=".NewLeadActivity" />
        <activity android:name=".ITHomePage" />
        <activity android:name=".BDMHomePage" />
        <activity android:name=".BDEHomePage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfilePhotoActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>